* {font-family: Arial, Helvetica, sans-serif; }

/*-----------TYPOGRAPHY STILO*/

h1{
	font-weight: bolder;
	color: #CD040B;
	font-size: 58px;
	letter-spacing: -1px;

}
h2{
	/*color:#959595; /*Light Grey*/
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: -1px;
}
h3 {
	font-weight: bold;
	font-size: 22px;
	letter-spacing: -1px;

}

h5{
	font-size: 2em !important;
	font-weight: bold !important;
	letter-spacing: -1px;
	line-height: 1;
}

p{
	color:#333333 !important;

}
/*-----------LINKS STILO*/

a{
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 24px;
	/*color: #0066CC;*/
	color:black;
	-webkit-transition: .3s;
	transition: .3s;
}

a:hover{
	/*color:#00478E !important;*/
	padding-right: 8px;
}

a img:hover{
	padding-top: 5px;
		-webkit-transition: .3s;
	transition: .3s;
}


/*-----------REWRITE EXISTING CSS CLASSES FROM THEME STYLESHEETS*/
/*ARROWS*/
.et_pb_image_0, .et_pb_image_1, .et_pb_image_2{
	width:50%;
	margin: 5% auto!important;
	opacity: .5;
}

#top-menu li > a{
	font-size: 1.3em !important;
	color: black !important;
	padding-left:1%;
	padding-right: 1%;
}

#top-menu li > a:hover{
	color:#00478E
}

.header-content h2{
	margin-left: 1% ;
}

.et_pb_text_1, .et_pb_text_2, .et_pb_text_3 {
	margin: 0 auto !important
}

/*moving the background around for the astroParallax*/
.et_pb_section_0 > .et_parallax_bg {
background-position: left -400px !important;
}

.et_pb_section_parallax .et_pb_parallax_css, .et_pb_slides .et_parallax_bg.et_pb_parallax_css {
    background-attachment: fixed;
    background-position: 100% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.et_pb_image_3 {
    /*width: 70%;*/
     right: 10%
     top: -135px;
    position: relative;
}

.et_pb_image_3 img{
	width:80% !important;
}
.et_pb_column_5{
	width:45% !important;
}

.et_pb_slide_description h2{
	font-weight: 600 !important;
	font-size: 2.2em;
}

.et_pb_image_0 {
	/*float:left;*/
	left:-20%;
}

/*-----------CUSTOM CLASS FIELD (css classes added in GUI) */
.heading h1{
width:125%;
padding-top: 1%;
font-size: 48px;
font-weight: bold;
line-height: 1.2;
margin-left: -5%;

}

.heading h1  .heading p {margin-top: 5% !important}

.heading{margin: 0 0 0 6%}


/*-----------CLASS IS CALLED INLINE - VIA GUI TEXT EDITOR*/
.bigIdeas{}


.bigIdeas h1{
	/*width: 95%;*/
	font-size: 48px;
	margin-left:-7%;
}

/*---------------------------COLUMN ALIGNMENT*/
/*ALIGN ALL THE H2'S TO THE SAME LEFT JUSTIFY*/

.bigIdeas h2{
	margin-left: -11%
}
.future h2{
	margin-left: -22%;
}

.collaboration h2{
	margin-left: -5%

}




/*ALIGN ALL THE P'S TO THE SAME LEFT JUSTIFY*/V

.bigIdeas p{
 	width:95%;
 	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.2;
	margin-left: -150%;
	background-color: blue !important;
}

.heading p{
	width:95%;
	/*letter-spacing: -1px;*/
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.2;
	margin-left: -5%;
}








/*-------------- - RESPONSIVE STYLES*/
/* Responsive Styles Smartphone Portrait According to brand guidelines  (320px)*/
@media all and ( max-width: 400px ) {  

.et_pb_side_nav {
	display: none !important;
}

.et_pb_section_0, .et_pb_fullwidth_image_0  {
	display: none;
}
p{
	color:#333333 !important;
}
h1{
	font-size: 30px;
}
h3{
	font-size: 18px;
}

.heading{
	margin-bottom: 20%;
}

.heading h1 {
    width: 200%;
    padding-top: 1%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.heading p{
	width:200%;
	font-size: 14px;
}

.bigIdeas{
	margin-left: -5%;
}
.bigIdeas h1{
	width: 111%;
    padding-top: 1%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}
.bigIdeas p{
	width:95%;
	font-size: 14px;
		color:#333333 !important;

}

.et_parallax_bg{ /*remove the bg image*/
	background-color: white !important;
	display: none;
}

.et_pb_image_3{
	display: none;
}


.et_pb_slide_content h2{
    width: 130%;
    font-size: 24px;
    color:#CD040B;
    margin-left: -4% !important;
    text-align: left;
    line-height: 1.3;
}

.et_pb_slide_content p{
	font-size: 14px;
	text-align: left;
	line-height: 1;
	margin-left: -4%;

}

 hr{
	display: none !important;
}

.et_pb_section_7, {
	margin-top: -15% !important;
}
.et_pb_row_6{
	margin-top:-200%;
}
.et_pb_text_7 h1{
	 width: 97%;
    font-size: 24px;
    margin-bottom: -20%;

}

.et_pb_column_9, .et_pb_column_11{ /*future projects images*/
	max-width: 75%;
	margin-top: -150%;
}

} /*end 400 media query*/



/* CRYS--->min width is anything larger than specified*/
 /*min-width: 400px;*/



/*--------------------ASTRONAUGHT PARALLAX*/

/*.et_pb_fullwidth_image_0{
	margin-bottom: 90% !important;
}*/