* {font-family: Arial, Helvetica, sans-serif}



/*Typography*/

h1{
	font-weight: bolder;
	color: #CD040B;
}
h2{
	text-transform: capitalize;
	color:#959595; /*Light Grey*/
	font-weight: bold;
}

.aboutUs h1{
width:60%;
padding-top: 2%;
}

.aboutUs p{
	width:50%;
	color: black;
	/*letter-spacing: -1px;*/
	font-weight: normal;

}

/*layout*/

